/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

/* This is the project stylesheet */

:root {
    /* Colors */
    --black: rgba(27, 28, 43, 1);
    --dark-slate-gray: rgba(46, 47, 73, 1);
    --dark-slate-gray-2: rgba(65, 55, 88, 1);
    --silver: rgba(200, 197, 202, 1);
    --slate-gray: rgba(93, 95, 142, 1);
    --transparent-black: rgba(0, 0, 0, 0.25);
    /* Typographies */
  /* roboto-condensed-22-regular */
    --roboto-condensed-22-regular-family: "Roboto Condensed";
    --roboto-condensed-22-regular-size: 22px;
    --roboto-condensed-22-regular-weight: 400;
    --roboto-condensed-22-regular-line-height: normal;

  /* roboto-condensed-28-regular */
    --roboto-condensed-28-regular-family: "Roboto Condensed";
    --roboto-condensed-28-regular-size: 28px;
    --roboto-condensed-28-regular-weight: 400;
    --roboto-condensed-28-regular-line-height: normal;

  /* roboto-condensed-48-regular */
    --roboto-condensed-48-regular-family: "Roboto Condensed";
    --roboto-condensed-48-regular-size: 48px;
    --roboto-condensed-48-regular-weight: 400;
    --roboto-condensed-48-regular-line-height: normal;

  /* rounded-mplus-1c-25-extra-bold */
    --rounded-mplus-1c-25-extra-bold-family: "Rounded Mplus 1c";
    --rounded-mplus-1c-25-extra-bold-size: 25px;
    --rounded-mplus-1c-25-extra-bold-weight: 800;
    --rounded-mplus-1c-25-extra-bold-line-height: normal;

  /* rounded-mplus-1c-32-extra-bold */
    --rounded-mplus-1c-32-extra-bold-family: "Rounded Mplus 1c";
    --rounded-mplus-1c-32-extra-bold-size: 32px;
    --rounded-mplus-1c-32-extra-bold-weight: 800;
    --rounded-mplus-1c-32-extra-bold-line-height: normal;
}
.sample-main {
    background-color: rgba(27, 28, 43, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .bg-1 {
    width: 1920px;
    height: 1080px;
    position: relative;
    overflow: hidden;
    margin: 0;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 43px;
    margin: auto;
  }
  .line-1 {
    width: 901px;
    margin-bottom: 21px;
  }
  .gruppa-6-proektnyj-praktikum-2024-g {
    color: rgba(93, 95, 142, 1);
    text-align: center;
    font-family: var(--roboto-condensed-22-regular-family);
    font-size: var(--roboto-condensed-22-regular-size);
    font-weight: var(--roboto-condensed-22-regular-weight);
    line-height: var(
      --roboto-condensed-22-regular-line-height
    );
  }
  .body {
    background-size: 100% 100%;
    background-position: center;
    background-image: url("https://static.overlay-tech.com/assets/f1bd1d8f-bec0-4ba7-bf35-e29886fd7a4a.png");
    border-radius: 35px;
    padding: 92px 137px 122px 132px;
    display: flex;
    align-items: flex-start;
    position: absolute;
    bottom: 150px;
    border: 3px solid rgba(200, 197, 202, 1);
    overflow: hidden;
    margin: auto;
    cursor: pointer;
  }
  .kliknite-ili-peretaschite-fajly-sjuda {
    color: rgba(200, 197, 202, 1);
    text-align: center;
    margin-top: 76px;
    font-family: var(--roboto-condensed-28-regular-family);
    font-size: var(--roboto-condensed-28-regular-size);
    font-weight: var(--roboto-condensed-28-regular-weight);
    line-height: var(
      --roboto-condensed-28-regular-line-height
    );
  }
  .download-icon {
    width: 175px;
    height: 185px;
  }
  .up-middle {
    padding: 76.9px 0 0;
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 138px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .flex-wrapper-one {
    position: relative;
  }
  .zagruzite-peretaschite-fajly-v-oblast-nizh {
    height: 91.1px;
    width: 588px;
    color: rgba(200, 197, 202, 1);
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    font-family: var(--roboto-condensed-28-regular-family);
    font-size: var(--roboto-condensed-28-regular-size);
    font-weight: var(--roboto-condensed-28-regular-weight);
    line-height: var(
      --roboto-condensed-28-regular-line-height
    );
  }
  .line {
    width: 445px;
    position: absolute;
    left: 71px;
    top: -5px;
  }
  .konverter-fajlov {
    height: 77.3px;
    width: 375px;
    color: rgba(200, 197, 202, 1);
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 111px;
    top: 0;
    font-family: var(--roboto-condensed-48-regular-family);
    font-size: var(--roboto-condensed-48-regular-size);
    font-weight: var(--roboto-condensed-48-regular-weight);
    line-height: var(
      --roboto-condensed-48-regular-line-height
    );
  }
  .header {
    width: 1916px;
    height: 105px;
    background-color: rgba(46, 47, 73, 1);
    position: absolute;
    top: 0;
    border: 2px solid rgba(93, 95, 142, 1);
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
  }
  .git-hub-button {
    background-color: rgba(65, 55, 88, 1);
    border-radius: 35px;
    padding: 9px 24px 10px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 159px;
    top: 30px;
    border: 3px solid rgba(200, 197, 202, 1);
  }
  .git-hub-project {
    color: rgba(200, 197, 202, 1);
    text-align: center;
    margin-right: 13px;
    font-family: var(--roboto-condensed-22-regular-family);
    font-size: var(--roboto-condensed-22-regular-size);
    font-weight: var(--roboto-condensed-22-regular-weight);
    line-height: var(
      --roboto-condensed-22-regular-line-height
    );
  }
  .github-mark-white-1 {
    width: 27px;
    height: 26px;
  }
  .logo {
    display: flex;
    align-items: flex-start;
    position: absolute;
    left: 158px;
    top: 17px;
  }
  .icon {
    width: 63px;
    height: 65px;
    margin-right: 9px;
  }
  .relative-wrapper-one {
    margin-top: 15px;
    position: relative;
  }
  .converter {
    max-width: 164px;
    color: rgba(200, 197, 202, 1);
    text-align: center;
    text-decoration: underline;
    position: relative;
    font-family: var(--rounded-mplus-1c-32-extra-bold-family);
    font-size: var(--rounded-mplus-1c-32-extra-bold-size);
    font-weight: var(--rounded-mplus-1c-32-extra-bold-weight);
    line-height: var(
      --rounded-mplus-1c-32-extra-bold-line-height
    );
  }
  .file {
    color: rgba(200, 197, 202, 1);
    text-align: center;
    position: absolute;
    left: 24px;
    top: -15px;
    font-family: var(--rounded-mplus-1c-25-extra-bold-family);
    font-size: var(--rounded-mplus-1c-25-extra-bold-size);
    font-weight: var(--rounded-mplus-1c-25-extra-bold-weight);
    line-height: var(
      --rounded-mplus-1c-25-extra-bold-line-height
    );
  }
  ::-webkit-scrollbar {
    width: 0;
    display: none;
  }
  #fileInput {
    display: none;
  }
  #selectedFile {
    font-size: 16px;
    margin-top: 10px;
  }
/* */